    	<section id="inside_login">
        <form action="http://127.0.0.1:3000/process_post" method="POST">
            <ul> 
                <li>
                    <!-- <input id="input_1" type="text" placeholder="Username" /> -->
                    <input name="input_1" id="input_1" type="text" placeholder="Username" style="border-style:solid; border-radius:3px; font-size:14px; background-color:#36617a; border-color:#36617a; color:#edeaed; border-width:0px; padding:11px; margin:3px ">
                </li>
                <li>
                    <!-- <input id="input_2" type="password" placeholder="Password" /> -->
                    <input name="input_2" id="input_2" type="password" placeholder="Password" style="border-style:solid; border-radius:3px; font-size:14px; background-color:#36617a; border-color:#36617a; color:#edeaed; border-width:0px; padding:11px; margin:3px">
                </li>
                <li>
                    <input id="submit_button_1" type="submit" value="Login" class="button" />
                </li>
            </ul>
        </form>
        </section>
